/*
 * Author: Noah Weingand
 * Description: CSS for my personal website
 * Date Created: 01/15/2020
*/
@viewport {
    width: device-width;
    zoom: 0;
}
.whole {
    position: fixed; /*absolute*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 100px 100vh; /* 100px 100vh ?*/ 
    font-weight: 600;
    text-align: center;
    color: rgb(245, 255, 245);
    padding: 0;
    max-width:100%;
    text-align: center;
}

.line {
    border-bottom: 2px solid rgb(245, 245, 245);
    color: rgb(245, 255, 245);
    /*width: 889px;*/
    width: 420px;
    margin: auto;
    max-width:100%;
    text-align: center;
    font-size: 100vh;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: rgb(245, 255, 245);
    padding: 0;
    max-width:100%;
}

.format {
    height: auto; /*if more info comes on the page, it will stretch down*/
    width: 1000px;
    margin: 0 auto; /*this will cause the div to be in the center*/
    max-width:100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 45px;
    text-align: center;
    background-color: rgb(31, 31, 31);
    color: rgb(204, 204, 204);
    margin:0;
    overflow:hidden
}

a {
    padding-left: 75px;
    padding-right: 75px;
    margin-left: auto;
    margin-right: auto;
}

a:visited, a:link {
    /* color: rgb(204, 204, 204); Smoky gray for links, idk if it looks good or not*/
    color: rgb(245, 255, 245);
}

i {
    max-width: 100%;
    color: rgb(218, 218, 218);
    padding: 0 0 50px 0;
}

i:hover {
    color: rgb(136, 136, 136);
}